@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="jumbotron jumbotron-fluid banner-thingy">
        <div class="container">
            <h1>Contoso University</h1>
        </div>
    </div>
    <div class="container-fluid blue">
        <div class="container">
            <div class="col-sm-3">
                <h2>Get Into Contoso</h2>
            </div>
            <div class="col-sm-3 center-ish">
                <i class="fas fa-clipboard-check"></i>
                <h3>Apply</h3>
            </div>
            <div class="col-sm-3 center-ish">
                <i class="fas fa-info"></i>
                <h3>Request Info</h3>
            </div>
            <div class="col-sm-3 center-ish">
                <i class="fas fa-book"></i>
                <h3>Our Programs</h3>
            </div>
        </div>
    </div>
<div class="container-fluid gray">
    <div class="container">
        <h2>Contoso News</h2>
        <row>
            <div class="col-sm-4">
                <div>
                    <img src="~/images/graduation-2038864_1920.jpg" />
                </div>
                <div>
                    <a href="#">Graduating Class of 2018</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <img src="~/images/quarterback-67701_1920.jpg" />
                </div>
                <div>
                    <a href="#">Football Team Moves to playoffs!</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div>
                    <img src="~/images/library-1400313_1920.jpg" />
                </div>
                <div>
                    <a href="#">Library Receives Donation for $10 million upgrade</a>
                </div>
            </div>
        </row>
    </div>

</div>